.class1{
    background: ;
    color: ;
}

.container{
    border: solid 3px red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 5px;
    padding-left: 6px;
    background-color: ;
    color: ;
    font-family: Times New Roman;
    margin-bottom: 30px;
}

.container2{
    border: solid 3px red;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 5px;
    padding-left: 6px;
    background-color: ;
    color: ;
    font-family: Times New Roman;
    margin-bottom: 30px;
}

.container3{
    border: solid 3px red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 5px;
    padding-left: 6px;
    background-color: ;
    color: ;
    font-family: Times New Roman;
    margin-bottom: 30px;
}

.img1{
    
}
